
.rollButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    border: dashed 3px black
  }
  
  .rollButton{
    width: 142px;
    height: 100%;
    border-radius: 20px;
    margin: 3%;
  }